.yellow{
    color: red;
}

.small-width{
    width: 300px;
}

.li-no-bullet{
    list-style: none;
}

.profile_pic{
    max-width: 100px;
}

.center{
    text-align: center;
}

.wrapper{
    margin-top: 20px;
}

.title{
    margin-bottom: 20px;
}